<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="javascripts/navigation.js"></script>
    <script defer src="javascripts/catfacts.js"></script>
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <meta charset="UTF-8">
    <title>Code Sample</title>
</head>
<body>
    <div id="navigation"></div>
    <div style="margin-left: 200px; margin-top: 25px">
        <h2>Cat Facts!</h2>
        <button type="button" id="catButton">Click Me!</button>
        <p id="catFacts" style="width: 800px;" ></p>
    </div>
</body>
</html>