<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <script src="javascripts/navigation.js"></script>
    <script defer src="javascripts/mail.js"></script>
    <link rel="stylesheet" href="/stylesheets/grids.css">
    <link rel="stylesheet" href="/stylesheets/scalableCard.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    
    <meta charset="UTF-8">
    <title>Code Sample</title>
</head>
<body >
    <div id="navigation" class="navigation"></div>
    <ul class="card" style="height:auto;">
        <li><div class="cardtop">
            <img class="image" src="images/ShawnBaumbachGraduation.jpg" alt="me">
            <h2>Shawn Baumbach</h2>
            <h4>Software Engineer</h4>
            <p class="description">I'm a recent graduate from the University of Texas at Dallas. This is a site to tell you a little about myself and the projects I've recently worked on.</p>
        </div></li>
        <li><div class="cardbottom">
                <div>
                    <p class="footerdescription">Fullstack, backend, and anything that makes me think.</p>
                    <a href="https://github.com/ShawnBaumbach"><img class="icons" src="images/github.png" alt="github"></a>
                    <a href="https://www.linkedin.com/in/shawn-baumbach/"><img class="icons" src="images/linkedin.png" alt="linkedin"></a>
                    <a href="/Contact"><img class="icons" src="images/gmail.png" alt="mail"></a>
                </div>
            <div class="cardbuttonsdiv"> <a class="cardbuttons" href="/Projects">Projects</a> <a class="cardbuttons" href="/documents/ShawnBaumbach_Resume2019.pdf">Resume</a></div>  
        </div></li>
    </ul>
</body>
</html>